{% extends 'base.html.twig' %}

{% block name_page %}
    Artist
{% endblock %}

{% block content %}

    <div class="container my-3">
        <a href="{{ path('releases') }}" class="btn btn-outline-primary float-end">Back to list</a>
    </div>
    <div class="container mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="rounded-circle img-fluid" alt="{{ artist.name }}"
                         src="{{ artist.images.1.url }}"
                         data-holder-rendered="true">
                </div>
                <div class="col-md-6 py-4 px-5 align-self-center text-white">
                    <div class="container">
                        <div class="row">
                            <h2>{{ artist.name }}</h2>
                        </div>
                        <div class="row">
                            <a href="{{ artist.external_urls.spotify }}" target="_blank" class="text-decoration-none fst-italic">Go to the artist's page</a>
                        </div>
                        <div class="row">Followers: {{ artist.followers.total|number_format(0, ',', '.') }}</div>
                        <div class="row">
                            Genres:
                            <div>
                                <ul>
                                    {% for genre in artist.genres %}
                                        <li>{{ genre }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table mt-5">
                    <thead class="table-light">
                        <tr class="table-secondary">
                            <th scope="col">Photo</th>
                            <th scope="col">Album</th>
                            <th scope="col">Song</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for song in artistTopTrack.tracks %}
                            <tr class=" align-middle">
                                <td><img src="{{ song.album.images.2.url }}" alt="Album Image -{{ song.album.name }}" class="border-5"></td>
                                <td class="text-white">{{ song.album.name }}</td>
                                <td class="text-white">{{ song.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}