{% extends 'base.html.twig' %}

{% block name_page %}
    Releases
{% endblock %}

{% block content %}
    <main>
        <div class="container mt-4">
            <ul class="nav nav-pills mb-3 justify-content-center" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active btn-sm px-5" id="album-tab" data-bs-toggle="pill" data-bs-target="#album" type="button" role="tab" aria-controls="album" aria-selected="true">Album</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn-sm px-5" id="single-tab" data-bs-toggle="pill" data-bs-target="#single" type="button" role="tab" aria-controls="single" aria-selected="false">Single</button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="album" role="tabpanel" aria-labelledby="album-tab">
                <div class="album py-5 bg-dark">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                            {% for release in releases.items %}
                                {% if release.album_type == 'album' %}
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="{{ release.images.0.url }}" alt="Album Image - {{ release.name }}" class="img-fluid card-img-top">
                                            <div class="card-body">
                                                <span class="card-title text-secondary fw-bold">{{ release.name }}</span>
                                                <div class="card-text">
                                                    <span>Artists:</span>
                                                    <div>
                                                        {% for artist in release.artists %}
                                                            <a class="btn px-3 py-0 my-1 rounded-pill btn-primary btn-sm text-white" href="{{ path('artist', { 'id': artist.id }) }}">{{ artist.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if quantity_albums == false %}
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Without Results"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#F5F1F1"></rect>
                                    <text x="50%" y="50%" fill="#000" dy=".3em">WithoutResults</text>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="single" role="tabpanel" aria-labelledby="single-tab">
                <div class="album py-5 bg-dark">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                            {% for release in releases.items %}
                                {% if release.album_type == 'single' %}
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="{{ release.images.0.url }}" alt="Album Image - {{ release.name }}" class="img-fluid card-img-top">
                                            <div class="card-body">
                                                <span class="card-title text-secondary fw-bold">{{ release.name }}</span>
                                                <div class="card-text">
                                                    <span>Artists:</span>
                                                    <div>
                                                        {% for artist in release.artists %}
                                                            <a class="btn px-3 py-0 my-1 rounded-pill btn-primary btn-sm text-white" href="{{ path('artist', { 'id': artist.id }) }}">{{ artist.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if quantity_singles == false %}
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                     xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Without Results"
                                     preserveAspectRatio="xMidYMid slice" focusable="false">
                                    <title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#F5F1F1"></rect>
                                    <text x="50%" y="50%" fill="#000" dy=".3em">WithoutResults</text>
                                </svg>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}