<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ApiSpotify!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="https://www.bitsamericas.com/favicon.ico">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('styles') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-dark">
        {% block body %}
            {% block header %}
                <header>
                    <div class="container">
                        <a href="{{ path('releases') }}">
                            <img src="{{ asset('img/Logo.png') }}" class="img-fluid" width="200" height="40"/>
                        </a>
                    </div>
                    <div class="collapse bg-secondary" id="navbarHeader">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8 col-md-7 py-4">
                                    <h4 class="text-white">About</h4>
                                    <p class="text-muted">Prueba Técnica Symfony</p>
                                </div>
                                <div class="col-sm-4 offset-md-1 py-4">
                                    <h4 class="text-white">Contact</h4>
                                    <p class="text-muted">Email me: luis.torrestruj@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar navbar-dark bg-secondary shadow-sm">
                        <div class="container">
                            <a href="#" class="navbar-brand d-flex align-items-center">
                                <strong>{% block name_page %}{% endblock %}</strong>
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>
                </header>
            {% endblock %}

            {% block content %}
                {# This block will be the container of the content page. #}
            {% endblock %}

            {% block footer %}
                <footer class="container">
                    <p class="float-end py-5">
                        <a href="#" class="btn btn-outline-primary">Back to top</a>
                    </p>
                </footer>
            {% endblock %}
        {% endblock %}
    </body>
</html>
